/* ***************************************************************************
   Mobile First
   *************************************************************************** */


/* General Style */

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    position: relative;
    background-color: #fafafa;
    color: #444;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

::-moz-selection {
    background: rgba(64,224,208,0.7);
    text-shadow: none;
}

::selection {
    background: rgba(64,224,208,0.7);
    text-shadow: none;
}

a:hover, a:focus {
    text-decoration: none;
}

hr {
    left: 25%;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background: #ccc;
}

/* Popover */

.popover {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none; /* Necessary for Android Browser 2.3 */
            box-shadow: none;
    font-size: 0.75rem;
}

    .popover.top .arrow {
        border-top-color: #ccc;
    }

    .popover.top .arrow:after {
        bottom: 2.5px;
    }

    .popover.left .arrow {
        border-left-color: #ccc;
    }

    .popover.left .arrow:after {
        right: 2.5px;
    }

/* /Popover */

/* Heading Section */

h4.section-title {
    text-transform: uppercase;
}

h2.section-subtitle {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -0.5px;
}

/* /Heading Section */

    /* Navigation */

    /* Navigation Bar */

    .navbar-default {
        background-color: rgba(255,255,255,1);
    }
        
        /* logo */

        .navbar-brand {
            padding: 8px;
        }

            .logo {
                width: 0;
                height: 0;
                color: #585858;
                border-width:17px;
                border-color: rgba(64,224,208,1)
                              rgba(0, 0, 205,1)
                              rgba(0, 0, 205,1)
                              rgba(255, 222, 0, 1);
                border-style:solid;
                border-radius: 0;
            }

                .logo p {
                    margin-top: -12px;
                    margin-left: 20px;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

        /* /logo */

        /* Menu toggle button on mobile view */

        .navbar-toggle {
            margin-top: 8px;
            padding: 14px 10px;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: transparent;
        }

            .toggle-wrap.active .toggle-bar {
                border-top: 6px solid transparent;
            }

            .toggle-wrap.active .toggle-bar::before {
                -webkit-transform: rotate(45deg) translate(3px, 2px); /*Chrome 27-35, Safari & Android Browser*/
                    -ms-transform: rotate(45deg) translate(3px, 2px); /* IE9 */
                        transform: rotate(45deg) translate(3px, 2px);
            }

            .toggle-wrap.active .toggle-bar::after {
                -webkit-transform: rotate(-45deg) translate(6px, -6px); /*Chrome 27-35, Safari & Android Browser*/
                    -ms-transform: rotate(-45deg) translate(6px, -6px);/* IE9 */
                        transform: rotate(-45deg) translate(6px, -6px);
            }

            .toggle-bar,
            .toggle-bar::before,
            .toggle-bar::after,
            .toggle-wrap.active .toggle-bar,
            .toggle-wrap.active .toggle-bar::before,
            .toggle-wrap.active .toggle-bar::after {
                -webkit-transition: all .2s ease-in-out; /* Safari 5.1 & Android Browser 2.3-4.3*/
                        transition: all .2s ease-in-out;
            }

            .toggle-bar {
                display: block;
                position: relative;
                width: 22px;
                margin: 4px 0;
                border-top: 2px solid #888;
            }

            .toggle-bar::before,
            .toggle-bar::after {
                content: "";
                display: block;
                position: absolute;
                top: -8px;
                width: 22px;
                height: 2px;
                background: #888;
                -webkit-transform: rotate(0deg); /*Chrome 27-35, Safari & Android Browser*/
                    -ms-transform: rotate(0deg); /* IE9 */
                        transform: rotate(0deg);
            }

            .toggle-bar::after {
                top: 4px;
            }

        /* /Menu toggle button on mobile view */

        /* Menu word on mobile view */

        .menu {
            float: right;
            margin-top: 7px;
            font-size: 0.875rem;
            text-transform: uppercase;
        }

            /* Menu links */

            .navbar-nav {
                text-transform: uppercase;
            }

    /* Home Section */

    .background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: url("../img/pitas-sm.jpg") no-repeat left bottom;
        background-size: cover;
    }

    .intro {
        height: 100%;
        padding-top: 25%;
        text-align: right;    
    }

            .intro h1 {
                padding: 7px; 
                background-color: rgba(255,255,255,0.9);
                color: mediumblue;
                font-size: 1.5rem;
                font-weight: 300;
            }

                .btn2portfolio {
                    display: block;
                    margin: 19px auto 0 0;
                    padding: 11px 0;
                    border: 2px solid rgb(255,215,0);
                    border-radius: 0;
                    background-color: rgba(255,255,255,0.9);
                    font-size: 1rem;
                }

                .btn2portfolio:hover {
                    border: 2px solid rgb(255,215,0);
                    background-color: rgba(255,255,255,0.9);
                }

        .scroll-down {
            display: none;
        }

    /* /.Home Section */


    /* Services Section */

    .services {
        padding: 70px 10px 30px;
        background-color: white; 
        text-align: center;
    }

        .services .single-serv{
            padding: 5px 10px;
        }

            .icon {
                color: gold;
                font-size: 4.5rem;
            }

            .ion-monitor:before {
                padding-right: 0.5rem;
            }

            .ion-ipad:before {
                font-size: 2.5rem;
                padding-right: 0.5rem;
            }

            .ion-iphone:before {
                font-size: 1.5rem;
            }

            .serv-title {
                text-transform: uppercase;
            }

    /* /.Services Section*/

    /* Call-out Section */

    .call-out {
        height: 35%;
        padding-top: 10%;
        background: #eee url("../img/loros-sm.jpg") no-repeat center bottom;
        background-size: cover;
        text-align: center;
    }

        .call-out h1 {
            color: white;
            font-size: 1.9rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: -1px;
        }

    /* /.Call-out Section */

    /* Portfolio Section */

    .portfolio {
        padding-top: 70px;
        padding-bottom: 15px;
        background: #e8e8e8;
        text-align: center;
    }

        .portfolio-section {
          padding: 15px 0;
          text-align: left;
        }

            .mob-pad {
                padding: 0;
            }

                    .heading-spacer {
                        width: 30%;
                        margin: 0;
                        border-top: 2px solid #ccc;
                    }

                    .portfolio-section h2 {
                        font-size: 1.250rem;
                        text-transform: uppercase;
                    }

                .carousel-container1, .carousel-container2 {
                  margin: 20px auto 10px;
                  padding: 0;
                }

                        /* Fade in/out transition on slides */

                        .carousel .item {
                            -webkit-transition: opacity 1s; /* Safari 5.1 & Android 2.3-4.3*/
                                    transition: opacity 1s;
                        }

                        .carousel .active.left {
                            left:0;
                            opacity:0;
                            z-index:2;
                        }

                        .carousel-inner>.item>img {
                            display: block;
                            max-width: none; 
                            width: 235px;
                            height: auto;
                            margin: 0 auto;
                            line-height: 1;
                        }

                            /* Laptop animation */

                            .animate-area { 
                                padding: 0;
                                background-image: url("../img/portfolio/template-xs.png");
                                background-position: 0 0;
                                -webkit-animation: animatedBackground 10s linear infinite;
                                        animation: animatedBackground 10s linear infinite;
                            }

                            @-webkit-keyframes animatedBackground {
                                from { background-position: 0 0; }
                                to { background-position: 0 100%; }
                            }

                            @keyframes animatedBackground {
                                from { background-position: 0 0; }
                                to { background-position: 0 100%; }
                            }

                    /* Carousel buttons */

                    .carousel .nav {
                        padding-top: 10px;
                        background: transparent;
                        text-align: center;
                    }

                        .carousel .nav>li {
                            display: inline-block;
                            float: none;
                            border: 2px solid #ccc;
                            border-radius:0px;
                            color: #444;
                        }

                            .carousel .nav>li>a {
                                color: #444;
                            }

                            .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
                                color: #444;
                                background-color: white;
                                  -webkit-transition: all 0.5s ease-in-out;  /* Safari 5.1 & Android 2.3-4.3*/
                                          transition: all 0.5s ease-in-out;
                            }
                    /* /Carousel buttons */

    /* Portfolio Section */

    /* Video section*/

    .video-cont {
        position: relative;
        height: 135px;
        padding: 55px 0 0;
        background:
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjAiIGhlaWdodD0iMzAiPgo8ZGVmcz4KPHJlY3QgaWQ9InIiIHdpZHRoPSI2MCIgaGVpZ2h0PSIzMCIgZmlsbD0iI2ZhZmFmYSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiNjY2MiPjwvcmVjdD4KPGcgaWQ9InAiPgo8dXNlIHhsaW5rOmhyZWY9IiNyIj48L3VzZT4KPHVzZSB5PSIxNSIgeGxpbms6aHJlZj0iI3IiPjwvdXNlPgo8dXNlIHk9IjMwIiB4bGluazpocmVmPSIjciI+PC91c2U+Cjx1c2UgeT0iNDUiIHhsaW5rOmhyZWY9IiNyIj48L3VzZT4KPC9nPgo8L2RlZnM+Cjx1c2UgeGxpbms6aHJlZj0iI3AiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTI1KSBza2V3WSg0MCkiPjwvdXNlPgo8dXNlIHhsaW5rOmhyZWY9IiNwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMCAwKSBza2V3WSgtNDApIj48L3VzZT4KPC9zdmc+");   
    }

        .animated-text {
            background: #fff;
            overflow: hidden;
            width: 85%;
            margin: 0 auto;
        }

            .message {
                position: relative;
                float: left;
                margin: 0;
                padding-left: 4px;
                font-size: 1rem;
                letter-spacing: 0px;
            }

                /* Animation */

                .message span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    background: transparent;
                    border-left: 2px solid turquoise;

                    -webkit-animation-name: blinking;
                    -webkit-animation-duration: 1s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-timing-function: steps(1,end);
                    animation-name: blinking;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: steps(1,end);

                }

                @-webkit-keyframes blinking {
                  0%   { border-color: transparent; }
                  50% { border-color: turquoise; }
                  100% { border-color: transparent; }
                }

                @keyframes blinking {
                  0%   { border-color: transparent; }
                  50% { border-color: turquoise; }
                  100% { border-color: transparent; }
                }

                /* /Animation */

        #video {
            display: none;
        }

        .video-button {
            display: none;
        }

    /* /Video section*/

    /* Contact section*/

    .contact {
        padding-top: 70px;
        background-color: #fafafa; 
        text-align: center;
    }

        .contact-container {
            margin-top: 50px;
        }

            .cont1 {
                width: 100%;
                height: 195px;
                margin-bottom: 35px;
                padding: 5px;
                border: 2px solid #ccc;
                background-color: #fff;
            }

                .cont1 h4 {
                    padding-top: 35px;
                    font-size: 1.125rem;
                    font-weight: 300;
                }

                .email {
                    color: mediumblue;
                    font-size: 1.2rem;
                }

                .email:hover {
                    color: mediumblue;
                    border-bottom: 2px solid mediumblue;
                }

            .cont2 {
                width: 100%;
                height: 195px;
                margin-bottom: 35px;
                padding: 20px;
                border: 2px solid #ccc;
                background-color: #fff;
            }

                .cont2 h4{
                    font-size: 1.5rem;
                    font-weight: 300;
                }

                    .cont2 .icon {
                        font-size: 2rem;
                    }

    /* /Contact section*/


    /* Footer*/

    .footer {
        position: relative;
        bottom: 0;
        border-top: 1px solid #444;
        background: #888;
        font-size: 0.750rem;
        text-align: center;
    }

        /* Social Links */

        .social {
            padding: 0;
        }

            .social li {
                display: inline-block;
                list-style-type: none; 
            }

                [class*=" flaticon-"]:before {
                    color: #444;
                    -webkit-transition: all 0.5s; /* Safari 5.1 & Android Browser 2.3-4.3*/
                            transition: all 0.5s;
                }

                .flaticon-email21:hover:before {
                    color: gold;
                }

                .flaticon-twitter28:hover:before {
                    color: #55acee;
                }

                .flaticon-github16:hover:before {
                    color: #171515;
                }

                .flaticon-flickr11:hover:before {
                    color: #ff1981;
                }

    /* /Footer*/


    /* Scroll Top*/

    .scroll-top {
        display: none;
        position: fixed; 
        bottom: 0;
        right: 8px;
    }

        .scroll-top .icon {
            color: rgba(255,222,0,0.5);
            font-size: 2rem;
        }

        .scroll-top:hover .icon {
            color: rgba(255,222,0,1);
        }

        .ion-chevron-up:before {
            border: 2px solid #ccc;
            padding: 0 5px;
        }

    /* /Scroll Top*/


/* ***************************************************************************
   Media Queries
   *************************************************************************** */

/* Small devices: Portrait smartphones*/

@media only screen and (min-width: 320px) {
    
    /* Portfolio Section */

    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        width: 300px;
    }

    .animate-area { 
        background-image: url("../img/portfolio/template-sm.png");
    }
    
    /* Contact Section */

    .email {
        font-size: 1.4rem;
    }

    .cont2 h4{
        padding-top: 15px;
    }

}


/* Small devices: Landscape smartphones*/

@media only screen and (min-width: 320px) and (orientation: landscape) {

    /* Home Section */
    
    .intro {
        padding-top: 10%;
    }
    
    /* Call-out Section */

    .call-out {
        height: 50%;
        padding-top: 7%;
    }
    
    /* Video Section */
    
    .message {
        font-size: 1.5rem;
    }
    
    /* Contact Section */

    .cont1, .cont2 {
        height: 155px;
    }

        .cont1 h4 {
            padding-top: 21px;
        }

        .cont2 h4{
            padding-top: 5px;
        }

}


@media only screen and (min-width: 480px) {

    /* Portfolio Section */
    
    .carousel-inner>.item>img, .carousel-inner>.item>a>img { 
        width: 450px;
    }

    .animate-area { 
        background-image: url("../img/portfolio/template-lg.png");
    }

}


/* Medium devices: Portrait Tablets */

@media only screen and (min-width: 600px) and (orientation: portrait) {
    
    /* General Style */
    
    html {
        font-size: 1.250rem;
        font-weight: 300;
    }
    
        /* Navigation */

                .logo p {
                    font-size: 2.125rem;
                    margin-top: -10px;
                }
    
        /* Home Section */
    
        .background {
            height: 50%;
            background: url("../img/pitas-md.jpg") no-repeat center top;
            background-size: cover;
        }
    
        .intro {
            height: 50%;    
        }  
    
        /* Services Section */
    
            .services .single-serv {
                padding: 5px 35px;
            }
    
        /* Call-out Section */

        .call-out {
            padding-top: 20%;
            background: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
                        url("../img/loros-sm.jpg") no-repeat center bottom;
            background-size: cover;
        } 

            .call-out h1 {
                font-size: 2.5rem;
            }
    
        /* Portfolio Section */

        .portfolio {
            padding-bottom: 55px;
        }

            .portfolio-section {
                padding: 35px 0 15px;
            }
    
                .carousel-inner>.item>img, .carousel-inner>.item>a>img { 
                    width: 550px;
                    height: 350px;
                }

                .animate-area { 
                    background-image: url("../img/portfolio/template-xl.png");
                } 
    
        /* Video Section */
    
        .video-cont{
            position: relative;
            height: 215px;
            padding: 85px 0;
        }
    
        /* Contact Section */
    
            .message {
                font-size: 1.5rem;
            }

            .cont1 h4 {
                padding-top: 27px;
                font-size: 1.125rem;
            }

            .email {
                font-size: 2rem;
            }
    
        .cont2 {
            padding: 25px;
        }

            .cont2 h4 {
                padding-top: 0;
                font-size: 2rem;
            }

            .cont2 .icon {
                font-size: 2.5rem;
            }
    
}


/* Medium devices: Landscape Tablets */

@media only screen and (min-width: 768px) {

    /* General Style */
    
    html {
        font-size: 1.250rem;
        font-weight: 300;
    }
    
        /* Navigation */

        /*  Navigation Bar Expanded */
        
        .navbar {
            padding: 30px 0;
            -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
                    transition: background .5s ease-in-out,padding .5s ease-in-out;
        }
    
        .navbar-default {
            background-color: rgba(255,255,255,0.9);
            font-size: 0.875rem;
        }
    
        /* Navigation Bar Collapsed */

        .top-nav-collapse {
            padding: 10px 0;
            background-color: white;
        }
    
            /* Logo */
    
            .logo {
                border-width: 19px;
            }

                .logo p {
                    margin-top: -11px;
                }
    
        /* Menu word */   
    
        .menu {
            display: none;
        }
    
        /* Menu Links */
    
        .navbar-nav>li>a {
            margin: 0 12px 12px;
            padding: 15px 2px 0;
        }

        .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
            margin-bottom: 2px;
            border-bottom: 2px solid #888;
            color: #111;
        }
    
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
            background-color: transparent;
            margin-bottom: 4px;
            border-bottom: 2px solid #888;
        }
    
        /* /Navigation */

        /* Home Section */

        .background {
            height: 100%;
            background: url("../img/pitas-md.jpg") no-repeat center bottom fixed;
            background-size: cover;
        }

        .intro {
            height: 100%;
            padding-top: 270px;  
            background: 
            linear-gradient(-9deg, rgba(255,222,0,0.8) 0%, rgba(255,222,0,0.8) 21%, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 0) 100%);
            background-size: cover;
        }

            .intro h1 {
                padding-right: 1rem;
                font-size: 2rem;
            }

        .btn2portfolio {
            display: block;
            margin: 19px auto 0 0;
            padding: 11px 0;
            background-color: rgba(255,255,255,0);
            border: 2px solid #888;
            border-radius: 0;
            font-size: 1rem;
        }

        .btn2portfolio:hover {
            border: 2px solid #888;
            background-color: rgba(255,255,255,0.9);
            -webkit-transition: all 0.5s ease; /* Safari 5.1 & Android Browser 2.3-4.3*/
                    transition: all 0.5s ease;
        }

        /* /Home Section */

        /* Services Section */

        .services {
            padding: 100px 0 50px;
        }

            .col-lg-3 {
                float: left;
                width: 50%;
            }

            .services .single-serv {
                padding: 35px 20px 0;
                font-size: 0.875rem;
            }

        /* Call-out Section */

        .call-out {
            height: 50%;
            padding-top: 85px;
            background: #eee;
            background: url("../img/loros.jpg") no-repeat center bottom;
            background-size: cover;
            text-align: center;
        }

            .call-out h1 {
                font-size: 2.5rem;
                font-weight: 300;
            }

        /* Portfolio Section */

        .portfolio {
            padding: 100px 0 50px;
        }

            .portfolio-section {
                padding: 50px 0 10px;
            }

                .mob-pad {
                    padding: 0 30px 0 15px;
                }

                    .animated-text {
                        display: none;
                    }

        /* Video Section */

        .video-cont{
            position: relative;
            height: 50%;
            background: none;
        }

            #video {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%; 
                height: 185px;
                min-width: 100%; 
                min-height: 100%;
                background: url("video1.png") no-repeat center bottom;
                background-size: cover;
                background: -webkit-linear-gradient(#e8e8e8, #fafafa);
                background:         linear-gradient(#e8e8e8, #fafafa);
            }

            .video-button {
              display: block;
              position: absolute;
              left: 3%;
              bottom: 10%;
              cursor: pointer;
            } 

                .video-button .icon {
                    font-size: 2rem;
                }

                .ion-play:before, .ion-pause:before {
                    border: 2px solid #ccc;
                    padding: 2px 8px;
                }

                .ion-pause:before {
                    padding: 2px 10.5px;
                }

                .ion-play {
                    display: block;
                }
    
                .ion-pause {
                    display: none;
                }

        /* Contact Section */

        .contact {
            padding-top: 100px;
        }

            .cont1 {
                margin-bottom: 50px;
                padding: 17px;
            }

                .cont1 h4 {
                    padding-top: 0px;
                }

                .email {
                    font-size: 2rem;
                }

            .cont2 {
                margin-bottom: 50px;
                padding: 0;
            }

                .cont2 h4{
                    padding-top: 15px;
                    font-size: 2rem;
                }

        /* Footer */

            .footer p {
                padding-top: 55px; 
            }

}


/* Medium devices: Portrait IPADs */

@media only screen and (min-width: 768px) and (orientation: portrait) {
   
    /* Navigation */
    
    .navbar-brand {
       padding: 5px;
    }
    
        .logo p {
            font-size: 2.5rem;
        }
    
    /* Home Section */

    .background {
        height: 50%;
        background: url("../img/pitas-md.jpg") no-repeat center top fixed;
        background-size: 100% 50%;
    }
    
    .intro {
        height: 50%;
        padding-top: 185px;    
    }
    
    /* Call-out Section */

    .call-out {
        height: 35%;
     }   

        .call-out h1 {
            font-size: 2.5rem;
        }
    
    /* Portfolio Section */

    .portfolio {
        padding-bottom: 55px;
    }

    /* Video Section */
    
    .video-cont{
        height: 25%;
    }
    
    /* Contact Section */

        .cont1 h4 {
            padding-top: -10px;
            font-size: 1.5rem;
        }

        .email {
            font-size: 2rem;
        }

        .cont2 h4 {
            padding-top: 20px;
        }
    
}


@media screen and (min-width: 900px) {
    
    /* Navigation */
    
    .navbar-brand {
        padding: 5px;
    }
    
    /* Home Section */
    
    .intro {
        padding-top: 20%;
    }
    
    /* Call-out Section */

    .call-out {
        padding-top: 10%;
     } 

        .call-out h1 {
            font-size: 3rem;
        }
    
    /* Portfolio Section */
    
    .col-md-6 {
        width: 100%;
    }
    
        .carousel-inner>.item>img, .carousel-inner>.item>a>img {
            width: 550px;
            height: 350px;
        }

        .animate-area { 
            background-image: url("../img/portfolio/template-xl.png");
        }
    
    /* Contact Section */

    .contact {
        padding-top: 100px;
    }

}


@media screen and (min-width: 1200px) {

    /* Navigation */
    
    .navbar-brand {
        margin-top: -5px;
        padding: 0 0 0 70px;
        font-size: 4rem;
    }
    
        .logo {
            border-width: 26px;
        }

            .logo p {
                margin-top: -12px;
                margin-left: 35px;
                font-size: 3.250rem;
            }
    
        /* Navigation bar animation on scroll down */

        .top-nav-collapse .logo {
            margin-top: 8px;
            border-width: 20px;
            -webkit-transition: all 0.5s ease; /* Safari 5.1 & Android Browser 2.3-4.3*/
                    transition: all 0.5s ease;
        }

            .top-nav-collapse .logo p {
                margin-top: -11px;
                margin-left: 25px;
                font-size: 2.5rem;
                -webkit-transition: all 0.5s ease; /* Safari 5.1 & Android Browser 2.3-4.3*/
                        transition: all 0.5s ease;
            }
    
        /* /Navigation bar animation on scroll down */

    /* Home Section */ 
    
    .intro {
        padding-top: 17%;
    }

    /* Animated Scroll Down Arrow */
    
    .scroll-down {
        display: block;
        position: absolute;
        bottom: 0; 
        left: 50%;    
        font-size: 1rem;
        -webkit-animation: bouncy-btn 1.7s infinite ease;
                animation: bouncy-btn 1.7s infinite ease;
    }

        .scroll-down .icon {
            color: #fff;
            font-size: 2rem;
        }

        @-webkit-keyframes bouncy-btn {
            0%    {bottom: 0%;}
            10%   {bottom: 0.5%;}
            20%   {bottom: 1%;}
            30%   {bottom: 1.5%;}
            40%   {bottom: 2%;}
            50%   {bottom: 2.5%;}
            60%   {bottom: 2%;}
            70%   {bottom: 1.5%;}
            80%   {bottom: 1%;}
            90%   {bottom: 0.5%;}
           100%   {bottom: 0%;}
        }    

        @keyframes bouncy-btn {
            0%    {bottom: 0%;}
            10%   {bottom: 0.5%;}
            20%   {bottom: 1%;}
            30%   {bottom: 1.5%;}
            40%   {bottom: 2%;}
            50%   {bottom: 2.5%;}
            60%   {bottom: 2%;}
            70%   {bottom: 1.5%;}
            80%   {bottom: 1%;}
            90%   {bottom: 0.5%;}
           100%   {bottom: 0%;}
        }
    
    /* /Animated Scroll Down Arrow */

    /* Services Section */
    
    .col-lg-3 {
        float: left;
        width: 25%;
    }
    
    /* Call-out Section */

    .call-out {
        padding-top: 115px;
    } 
    
    /* Portfolio Section */
    
    .col-lg-5 {
        width: 41.66666666666667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    
        .carousel-container1 {
            margin: 0 0 0 8.33333%;
        }
    
            .carousel-inner>.item>img {
                margin-top: 59px;
            }
    
    /* Video Section */
    
    .video-cont{
        height: 50%;
    }
    
        #video {
            height: 410px;
        }
    
        .video-button {
            display: none;
        }
    
    /* Contact Section */

    .contact {
        height: 75%;
        padding-top: 100px;
    }

        .cont1, .cont2 {
            height: 185px;
            padding: 35px;
        }
    
            .cont1 h4 {
                font-size: 1rem;
            }

            .email {
                font-size: 1.750rem;
            }

        .cont2 {
            padding: 15px;
        }

            .cont2 h4 {
                padding-top: 0;
                font-size: 1.750rem;
            }

                .cont2 .icon {
                    font-size: 2.5rem;
                }
    
    /* Footer */

    .footer {
        height: 25%;
    }
    
        .footer p {
            padding-top: 70px;
        }
    
        .social {
            padding-top: 35px;
        }
    
            .social .icon {
                font-size: 3rem;
            }

}


@media only screen and (min-width: 1824px) {

    /* General Style */
    
    html {
        font-size: 1.5rem;
    }

    body {
        font-weight: 400;
    }

        .container {
            width: 1600px;
        }

        .section-title {
            font-size: 1rem;
        }
    
    /* Navigation */
    
            .navbar {
                padding: 50px 0;
            }
    
            .navbar-default {
                background-color: rgba(255,255,255,0.9);
                font-size: 1rem;
            }
    
                .navbar-brand {
                    margin-top: -15px;
                }

                    .logo {
                        border-width:37px;
                    }
    
                        .logo p {
                            margin-left: 45px;
                        }

                        .top-nav-collapse {
                            padding: 30px 0;
                        }

                        .top-nav-collapse .logo {
                            border-width: 26px;
                        }

                        .top-nav-collapse .logo p {
                            margin-left: 30px;
                        }

                .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
                    padding-bottom: 4px;
                }

                .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
                    padding-bottom: 4px;
                    margin-bottom: 2px;
                }
    
    /* Home Section */

    .intro {
        padding-top: 17%;
    }

        .intro h1 {
            padding: 14px; 
            font-size: 2.5rem;
            font-weight: 300;
        }
    
    /* Common Styles */

    .services, 
    .portfolio, 
    .contact {
        padding: 170px 0 90px;
    }
    
    /* Services Section */

        .serv-title {
            font-size: 1rem;
        }
    
    /* Call-out Section */
    
    .call-out {
        padding-top: 10%;
        background: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
                    url("../img/loros.jpg") no-repeat center bottom;
        background-size: cover;
     }     

        .call-out h1 {
            font-size: 3.5rem;
            font-weight: 300;
        } 
    
    /* Portfolio Section */
    
            .carousel-inner>.item>img, .carousel-inner>.item>a>img { 
                width: 700px;
                margin-top: 70px;
            }

            .animate-area { 
                background-image: url("../img/portfolio/template-xxl.png");
            }

    /* Video Section */

    .video-cont{
        height: 50%;
    }
    
        #video {
            height: 610px;
        }

    /* Contact Section */
    
    .contact-container {
        margin-top: 85px;
    }

        .cont1, .cont2 {
            padding: 70px;
            height: 290px;
        } 
    
        .cont2 {
            padding: 55px;
        }
    
            .cont2 h4 {
                font-size: 2rem;
            }
    
    /* Footer */

        .footer p {
            padding-top: 110px;
        }
    
        .social {
            padding-top: 70px;
        }

}


@media print {

    * {
        color: #444 !important;
    }
    
    .navbar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    
    .intro {
        height: 5%;
        padding-top: 70pt;
    }    
    
        .intro h1 {
            font-style: normal;
            display: inline;
            text-align: left !important;
            font-size: 16pt;
            padding: 0;
        }
    
    #services .col-lg-3 {
        width: 50% !important;
        float: left;
        visibility: visible !important;
    }
    
    .portfolio {
        padding: 10pt 0;
    }
    
        #carousel1 .carousel-inner>.item {
            display: block;
        }
    
            .carousel-inner>.item>img {
                width: 375pt;
                height: auto;
            }
    
    .contact {
        padding: 0;
    }
    
        .cont1, .cont2 {
            height: 115pt;
        }
    
            a[href]:after {
                content: none !important;
            }
    
    .footer {
        margin-top: 35pt;
    }
    
        .footer p {
            padding-top: 15pt;
        }
    
}
